.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.socials a {
    padding: 0.25em 0.5em 0.25em 0.5em;
    text-decoration: none;
    color: black;
}

.socials a:hover {
    color: grey;
}